*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-text: #e6e6e6;
    --background: #181818;
    --pitch-black: #000;
}

body {
    font-family: 'Courier New', Courier, monospace;
    background-color: var(--pitch-black);
}

a {
    text-decoration: none;
    color: var(--primary-text);
}

p {
    font-family: 'Comfortaa', 'Kanit', 'Roboto Mono', 'Lora', sans-serif;
}

.linkedin > img {  
    width: 4vw; 
    height: 4vh;
    position: absolute;
    top: 10px;
    right: 10px;
}

.linkedin > img:hover,
.linkedin > img:active {
    transform: scale(120%);
    transition: .4s;
}

.image-swap {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    cursor: pointer;
}

.image-swap > img {
    pointer-events: none;
    display: none;
}
  
.image-swap > img:first-child {
    display: flex;
}
  
.image-swap:hover > img:first-child {
    display: none;
}
  
.image-swap:hover > img:last-child {
    display: flex;
}

.container {
    position: relative;
    z-index: 1;
}
  
#canv {
    position: fixed;
    top: 0;
    left: 0;
}

.container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.display {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    max-width: 800px;
}

.header > p {
    max-width: 620px;
    margin: 12px;
    color: #e9e9e9;
    line-height: 14px;
    letter-spacing: 2px;
    text-align: center;
}

.logo {
    max-height: 100%;
    width: 200px;
    transition: .4s;
}

.image-swap {
    max-height: 180px;
    margin: 22px;
    transition: .4s;
}

.image-swap:hover,
.logo:hover,
.logo2:hover,
.ceneqa-logo:hover {
    transform: scale(120%);
    cursor: pointer;
    transition: 1s;
}

.main {
    text-align: center;
}

.main p {
    color: var(--primary-text);
    font-size: .7rem;
}

.bold {
    color: #ff3c3c;
}

.links {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    font-weight: 700;
    font-family: sans-serif;
}

.links a {
    margin: 12px;
    text-decoration: none;
    letter-spacing: 2px;
    transition: .3s;
    }

.links a:hover {
    transition: 1s;
    transform: scale(120%);
    color: var(--primary-text);
}

.close {
    cursor: pointer;
    color: #fff;
    text-shadow: 0 0 12px #e6e6e6;
    font-weight: 700;
    display: none;
}

.soundCollection {
    padding: 10px 0;
}

/* ----- PROJECT NIMBUS ----- */

#bike {
    z-index: 9;
    position: absolute; 
    left: -1000px; 
    bottom: 0px;
    width: 10%
}

#mountain {
    position: absolute;
    bottom: 130;
    left: 0;
}

/* ----- MUSIC ----- */
#player-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

#player-container #play-pause {
    cursor: pointer;
    text-indent: -999999px;
    height: 20px;
    width: 20px;
    padding: 12px 18px;
    z-index: 2;
    background-image: url(./img/play.png);
    background-repeat: no-repeat!important;
    background-position: center;
    background-size: 16px;
}

.play {
    background-image: url(./img/play.png);
}

.pause {
    background-image: url(./img/pause.png)!important;
}

.flex-container {
    display: flex;
    width: 80vw;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.flex-item {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding: 12px 0;
    margin: 8px;
}

.flex-item img:hover {
    transition: 1s;
    transform: scale(120%);
}

.playground-img {
    width: 300px;
    height: auto;
    margin: auto;
    border-radius: 15px;
    box-shadow: 0 0 6px rgb(69, 69, 69);
}